
//----------------------------------------------------
// Set a default grid.
//----------------------------------------------------
$neat-grid: (
	columns: 12, // define some columns to match your mockup.
	gutter: 12px, // adjust gutters to match your mockup.
  	direction: ltr,
);
//-----------------------------------------------------
// Create a breakpoint.
//-----------------------------------------------------
$tablet-portrait: (
	columns: 12,
	media: 768px,
);

//-----------------------------------------------------
// This is "the grid" container.
//-----------------------------------------------------
.container {
	margin: 0 auto;
	max-width: 1200px;
}
//-----------------------------------------------------
// A row contains columns. grid-container creates a clearfix.
//-----------------------------------------------------

.row {
	@include grid-container;	
}
//-----------------------------------------------------
// Loop through and create presentational grid columns.
//-----------------------------------------------------

@for $i from 1 through 12 {
	.col-#{$i} {
		@include grid-column($i);
	}      
}

//-----------------------------------------------------
// PLEASE IGNORE... OR USE AS A REFERENCE, STYLES FOR THIS PEN
//-----------------------------------------------------

body {
	background-color: #ffffff;
	color: #002f43;
} // body

.container {
	
	
	&-explain {
		@include grid-visual(#ffffff);
	} // .container-explain

	&-basic {
		
		.col {
			@include grid-column(6);
		}
	} // .container-basic

	&-shift {
		
		.col {
			@include grid-column(4);
			@include grid-shift(4);
		}
	} // .container-shift
	
	&-push {
		
		.col {
			@include grid-column(4);
			@include grid-push(6);
		}
	} // .container-push
	
	&-media-queries {

		.col {
			@include grid-column(12);
			
			@include grid-media($tablet-portrait) {
				@include grid-column(6);
			}
		}
	} // .container-media-queries
	
	&-nesting {
		
	} // .container-nesting
} // .container

//----------------------------------------------------
// 
//----------------------------------------------------