// ------------------------------------------------------------
// Site Nav https://codepen.io/SmaragdaTh/pen/LERvNq
// ------------------------------------------------------------
header {
	background-color: #74EDE8;
}

.nav-hold {
	overflow: hidden;
}

.nav-logo {
	float: 		left;
	display: 	block;
	color: 		#f9f9f9;
  padding: 	20px;
}

.nav-list {
	float: right;
	li {
	float: left;
}
}

.nav-list li a {
	display: 	block;
	padding: 	20px 10px;
	    text-align: center;
}

.nav-menu {
	color: 		#f9f9f9;
	float: 		right;
	padding: 	20px 10px;
	display: 	none;
	cursor: 	pointer;
}

@media (max-width: 700px) {
	.nav-menu {
		display: 	block;
	}

	.nav-list {
		/*float: left;*/
		width: 		100%;
		height: 	0;
	}

	.nav-open {
		height: auto;
	}

	.nav-list li {
		width: 		100%;
	}
  
  .nav-list li a {
    padding: 	10px 10px;
  }

}
