
<nav>
  <div class="nav-hold container">
    <%= link_to 'Pheonix Logo', '/index.html', :relative => true, class: 'navbar-brand nav-logo' %>
    <a id="nav-menu" class="nav-menu"><i class="fa fa-navicon fa-2x"></i></a>
    <ul class="nav-list nav-links" id="nav">
      <!--<li><i class="fa fa-angle-double-right"></i><%= link_to 'Band','/' %>
      <ul>
        <li><%= link_to 'subnav','/' %></li>
      </ul>
    </li>-->
    <li>
    	<%= link_to 'Home', '/index.html', :relative => true %>
    	<ul></ul>
    </li>
    <li>
    	<%= link_to 'About', '/info.html', :relative => true %>
    </li>
    </ul>
  </div>
</nav>