<div class="slideshow fade">
  <%= image_tag 'boreal-lights.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “In the beginning was the Logos, and the Logos was with God and the Logos was God… and the Logos became flesh.”
      Gospel according to St. John
    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'nebula.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “God- 
      the glorious Transcendent;
      the powerful, illuminating and transforming Holy Spirit;
      the divine knowing and intelligent Wisdom of the Creator and Logos,
      each revelation being the fullness of God”.
      Irenaeus (125-202)

    </blockquote>

  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'star-on-the-sky.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “One is the might of my Trinity,
      One the knowledge,
      One the glory,
      One the power.
      The unity cannot be dissolved”
      Gregory Nazianzus

    </blockquote>

  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'sky-fire.png', width: "100%" %>
  <div class="text">  
    <blockquote>
      “One is the might of my Trinity,
      One the knowledge,
      One the glory,
      One the power.
      The unity cannot be dissolved”
      Gregory Nazianzus

    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'universe.png', width: "100%" %>
  <div class="text">   
    <blockquote>
      “It is one thing that he (Logos) was God before he was man, another that he (Christ) was man and God, and another that after being man and God, he (Christ) was perfect man and perfect God”.
      Hilary of Poitiers (310-367)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “Everyone acknowledged this truth:
      Logos’ oneness with all creation
      Holy Spirit’s presence in all
      All are in the Father”.
      Theodore of Mopsuestia (350-428)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “On account of His infinite love he became what we are, in order that he might make us what he himself is”. “Thus we must become that of which we are only now but an image”.
      Irenaeus (125-202)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “Christ died in order to reveal the resurrection, took to himself a human body so that what was mortal might be transformed into immortality and what was passible into impassibility”.
      Irenaeus (125-202)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “If the dogma of ‘salvation as deification’ belongs to the mystery of the faith of the Church, why was it not included with the other dogmas in the symbols expounding the pure faith of Christians composed by our holy and blessed fathers?”
      Maximus the Confessor (580-662)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “Like a wheel, Christ at the center, all people have the same center into which Christ draws back to himself the distinct elements of their being which he brought into existence, one body, one mind, one glory”.
      Maximus the Confessor (580-662)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “Then shall the Son himself too, be subjected to him that subjected all things to him, in order that God may be all in all.”
      1 Cor. 15:28


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “The Eucharist is a continuation of the Incarnation”.
      Irenaeus (125-202)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “Because sometimes Jesus speaks of his earthly humanity, and at another, of his exalted eternal humanity, we must be careful not to mix this historical line and speak of Christ existing before the incarnation, nor as an exalted human being prior to resurrection and ascension”.
      Hilary of Poitiers (310-367)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “Men are at variance with the Logos which is their most constant companion”. “Although the Logos is common to all, most men live as if each had a private intelligence of his own”. “Listen not to me but to the Logos, it is wise to agree that all things in reality are one and one thing only”. 
      Hereclitus (535-475 BC)


    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “It is no less a feat to give things their original nature than to change their nature.  If God can change bread and wine into Christ’s heavenly glorified body, so too God can change our own body into Christ’s heavenly glorified body.”
      Ambrose (340-397)

    </blockquote>
  </div>
</div>

<div class="slideshow fade">
  <%= image_tag 'clouds.png', width: "100%" %>
  <div class="text">
    <blockquote>
      “We offer to him the things that are his own, consistently announcing and confessing the unity of flesh and spirit.  For as the bread taken from the earth, when it has received the consecration from God, is no longer common bread but is the Eucharist, which consists of two realities, earthly and heavenly, so also our bodies, when they receive the Eucharist, are no longer corruptible, but have the hope of the resurrection into eternal life.”
      Irenaeus (125-202)

    </blockquote>
  </div>
</div>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>