<!doctype html>
<html>
  <head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Use the title from a page's frontmatter if it has one -->
  <title><%= current_page.data.title || "Middleman" %></title>
  <!-- jquery goes first to work properly -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <%= stylesheet_link_tag "site" %>
  <!-- Include Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
  <!-- Latest compiled and minified JavaScript -->

</head> 
  <!-- onLoad property loads my functions right from the start and all images are loaded automatically -->
  <body onLoad="showSlides(); viewSlides();">
    <div id="main">
    
      <header>
        <%= partial "layouts/nav" %>
      </header>
      <%= yield %>
      <footer>
        <%= partial "layouts/footer" %>
      </footer>
      <%= javascript_include_tag "site" %>
      <script src="https://leemark.github.io/better-simple-slideshow/demo/js/hammer.min.js"></script><!-- for swipe support on touch interfaces -->

    </div>
  </body>
</html>
