---
title: Robert | Grid
---

<div class="container">
	<h1>Neat v2.0</h1>
	<p>Based on the
		<a href="http://neat.bourbon.io/docs/latest/">latest documentation</a>.
	</p>
	<p class="note">Tip: Neat v2.0 is powered by regular 'ol <a href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html#maps">sass maps</a>.</p>
</div>

<article>	
	<div class="container container-explain">
		<h2>
			The Neat Grid (<a href="http://neat.bourbon.io/docs/latest/#neat-grid">link</a>)
		</h2>
		<hr>
		<div class="row">
			<div class="col">
				<pre>
					The default <code>$neat-grid</code> variable, is a map which powers Neat's mixins.

					$neat-grid {
					columns: 12,    // Number of the total grid columns.
					gutter: 20px,   // Grid gutter width between columns.
					media: 1200px,  // The @media definition that is used by the <code>grid-media</code> mixin to determine the media properties.
					color: #00d4ff, // The color used by <code>grid-visual</code> to create the guides.
					direction: ltr, // The float direction used throughout the grid.
				}

				By setting <code>$neat-grid</code>, you're now able to use the Neat 2.0 mixins, without having to pass an argument.
			</pre>
		</div> 
	</div><!-- .row -->
</div><!-- .container-explain -->

<div class="container container-explain">
	<h2>
		Custom Grids (<a href="http://neat.bourbon.io/docs/2.0.0/#custom-grids">link</a>)
	</h2>

	<hr>
	<div class="row">
		<div class="col">
			<pre>
				An example custom grid:

				$custom-grid: (
				columns: 12,
				gutter: 20px,
				);

				Now pass this "grid" into any of the Neat 2.0 mixins: 

				<code>@include grid-column(2, $custom-grid);</code>
			</pre>
		</div> 
	</div><!-- .row -->
</div><!-- .container-explain -->

<div class="container container-explain">

	<h2>	
		Breakpoints (<a href="http://neat.bourbon.io/docs/2.0.0/#custom-grids">link</a>)
	</h2>
	<hr>

	<div class="row">
		<div class="col">
			<pre>
				You can even create breakpoints for media queries:

				$tablet-landscape: (
				columns: 12,
				gutter: 20px,
				media: 768px,  // min-width by default
				);

				Now use your new breakpoint in the <code>grid-media</code> mixin: <code>@include grid-media($tablet-landscape);</code>

				-------------------------------------------------

				The media property can be either a integer or a string - as long as it's one of the <a href="https://www.w3.org/TR/css3-mediaqueries/">CSS3 media queries</a>:

				$phone-landscape: (
				columns: 12,
				gutter: 20px,
				media: "screen and (min-width: 375px) and (max-width: 768px)",
				);

				$print: (
				columns: 12,
				gutter: 20px,
				media: print,
				); 
			</pre>
		</div> 
	</div><!-- .row -->
</div><!-- .container-explain -->


<div class="container container-basic">
	<h2>Multiple Columns Using a Mixin (<a href="http://neat.bourbon.io/docs/latest/#grid-container">link</a>)</h2>
	<hr>

	<div class="row">
		<div class="col"><pre> @include grid-column(6);</pre></div>
		<div class="col"><pre> @include grid-column(6);</pre></div>
	</div><!-- .row -->
</div><!-- .container-basic -->


<div class="container container-presentational">
	<h2>Multiple Columns Using Presentational Classes</h2>
	<p class="note">Not actually part of Neat 2.0, but easy to create!</p>

	<hr>
	<div class="row">
		<div class="col col-1"><pre> .col-1</pre></div>
		<div class="col col-11"><pre> .col-11</pre></div>
	</div><!-- .row -->

	<div class="row">
		<div class="col col-2"><pre> .col-2</pre></div>
		<div class="col col-10"><pre> .col-10</pre></div>
	</div><!-- .row -->

	<div class="row">
		<div class="col col-3"><pre> .col-3</pre></div>
		<div class="col col-9"><pre> .col-9</pre></div>
	</div><!-- .row -->	

	<div class="row">
		<div class="col col-4"><pre> .col-4</pre></div>
		<div class="col col-8"><pre> .col-8</pre></div>
	</div><!-- .row -->

	<div class="row">
		<div class="col col-5"><pre> .col-5</pre></div>
		<div class="col col-7"><pre> .col-7</pre></div>
	</div><!-- .row -->	

	<div class="row">
		<div class="col col-6"><pre> .col-6</pre></div>
		<div class="col col-6"><pre> .col-6</pre></div>
	</div><!-- .row -->		
</div><!-- .container-presentational -->








<div class="container container-media-queries">
	<h2>Media Queries (<a href="http://neat.bourbon.io/docs/latest/#grid-media">link</a>)</h2>
	<p class="note">Squish the viewport to see this in action!</p>
	<hr>
	<div class="row">
		<div class="col">
			<pre>
				$tablet-portrait: (
				columns: 12,
				media: 768px,
				);

				@include grid-column(12);

				@include grid-media(tablet-portrait) {
				@include grid-column(6);
			}
		</pre>
	</div>
</div><!-- .row -->
</div><!-- .container-media-queries -->
</article>


