---
title: Robert | Home
---
<!-- 
<div id="wrapper">

  <div id="slider-wrap">

    <ul id="slider">
      <li data-color="#1abc9c">
        <div>
          <h3>Slide #1</h3>
          <span>Sub-title #1</span>
        </div> 
         <%= image_tag 'fade-in.png' %>
        
      </li>

      <li data-color="#3498db">
        <div>
          <h3>Slide #2</h3>
          <span>Sub-title #2</span>
        </div>
        <%= image_tag 'nebula.png' %>
      </li>

      <li data-color="#9b59b6">
        <div>
          3>Slide #3</h3>
          <span>Sub-title #3</span>
        </div>
        <%= image_tag 'fade-in.png' %>
      </li>

      <li data-color="#34495e">
        <div>
          <h3>Slide #4</h3>
          <span>Sub-title #4</span>
        </div>
        <%= image_tag 'nebula.png' %>
      </li>

      <li data-color="#e74c3c">
        <div>
          <h3>Slide #5</h3>
          <span>Sub-title #5</span>
        </div>
        <i class="fa fa-microphone-slash"></i>
      </li>
    </ul>

    
    <div class="btns" id="next"><i class="fa fa-arrow-right"></i></div>
    <div class="btns" id="previous"><i class="fa fa-arrow-left"></i></div>
    <div id="counter"></div>

    <div id="pagination-wrap">
      <ul>
      </ul>
    </div>

  </div>

</div> 
 -->

 <div class="bss-slides demo1" tabindex="1" autofocus="autofocus">
  
  <figure>
    <%= image_tag 'boreal-lights.png', width: "100%" %>
    <figcaption>
      “In the beginning was the Logos, and the Logos was with God and the Logos was God… and the Logos became flesh.”
      Gospel according to St. John
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'nebula.png', width: "100%" %>
    <figcaption>
      “God- 
      the glorious Transcendent;
      the powerful, illuminating and transforming Holy Spirit;
      the divine knowing and intelligent Wisdom of the Creator and Logos,
      each revelation being the fullness of God”.
      Irenaeus (125-202)

    </figcaption>

  </figure>

  <figure>
    <%= image_tag 'star-on-the-sky.png', width: "100%" %>
    <figcaption>
      “One is the might of my Trinity,
      One the knowledge,
      One the glory,
      One the power.
      The unity cannot be dissolved”
      Gregory Nazianzus

    </figcaption>

  </figure>

  <figure> 
  <%= image_tag 'sky-fire.png', width: "100%" %> 
    <figcaption>
      "The natures must remain in their own properties and so one Glory must be understood and one Son confessed in virtue of the wonderful union which transcends all reason.  We do not make two persons one person, but by the one name "Christ", we denote the two natures together." -Nestorius
    </figcaption>
  </figure>
 
  <figure> 
  <%= image_tag 'universe.png', width: "100%" %>  
    <figcaption>
      “It is one thing that he (Logos) was God before he was man, another that he (Christ) was man and God, and another that after being man and God, he (Christ) was perfect man and perfect God”.
      Hilary of Poitiers (310-367)

    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “Everyone acknowledged this truth:
      Logos’ oneness with all creation
      Holy Spirit’s presence in all
      All are in the Father”.
      Theodore of Mopsuestia (350-428)
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “On account of His infinite love he became what we are, in order that he might make us what he himself is”. “Thus we must become that of which we are only now but an image”.
      Irenaeus (125-202)
    </figcaption>
  </figure>
  
  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “Christ died in order to reveal the resurrection, took to himself a human body so that what was mortal might be transformed into immortality and what was passible into impassibility”.
      Irenaeus (125-202)
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “If the dogma of ‘salvation as deification’ belongs to the mystery of the faith of the Church, why was it not included with the other dogmas in the symbols expounding the pure faith of Christians composed by our holy and blessed fathers?”
      Maximus the Confessor (580-662)
    </figcaption>
  </figure>
 
  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “Like a wheel, Christ at the center, all people have the same center into which Christ draws back to himself the distinct elements of their being which he brought into existence, one body, one mind, one glory”.
      Maximus the Confessor (580-662)
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “Then shall the Son himself too, be subjected to him that subjected all things to him, in order that God may be all in all.”
      1 Cor. 15:28
    </figcaption>
  </figure>
  
  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “The Eucharist is a continuation of the Incarnation”.
      Irenaeus (125-202)
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “Because sometimes Jesus speaks of his earthly humanity, and at another, of his exalted eternal humanity, we must be careful not to mix this historical line and speak of Christ existing before the incarnation, nor as an exalted human being prior to resurrection and ascension”.
      Hilary of Poitiers (310-367)
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “Men are at variance with the Logos which is their most constant companion”. “Although the Logos is common to all, most men live as if each had a private intelligence of his own”. “Listen not to me but to the Logos, it is wise to agree that all things in reality are one and one thing only”. 
      Hereclitus (535-475 BC)
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “It is no less a feat to give things their original nature than to change their nature.  If God can change bread and wine into Christ’s heavenly glorified body, so too God can change our own body into Christ’s heavenly glorified body.”
      Ambrose (340-397)
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      "For Christ did not become a mere man, nor is it orthodox to say that he assumed a particular man, but rather, that He assumed man-in-general, or the whole human nature." -Theodore the Studite
    </figcaption>
  </figure>

  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>
      “We offer to him the things that are his own, consistently announcing and confessing the unity of flesh and spirit.  For as the bread taken from the earth, when it has received the consecration from God, is no longer common bread but is the Eucharist, which consists of two realities, earthly and heavenly, so also our bodies, when they receive the Eucharist, are no longer corruptible, but have the hope of the resurrection into eternal life.”
      Irenaeus (125-202)

    </figcaption>
  </figure>
  
  <figure>
    <%= image_tag 'clouds.png', width: "100%" %>
    <figcaption>      
      "When Christ died, the Logos was never separated from either the body or soul of Christ, but maintained their oneness in the Logos" - John of Damascus
    </figcaption>
  </figure>
</div> <!-- // bss-slides -->


